<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       xmlns:context="http://www.springframework.org/schema/context">

    <!--
    Activates various annotations to be detected in bean classes:
        - Spring's @Required and @Autowired;
        - JSR 250's @PostConstruct, @PreDestroy and @Resource (if available);
    -->
    <context:annotation-config/>

    <!-- Scans within the base package of the application for @Components to configure as beans -->
    <!-- @Controller, @Service, @Configuration, @Component, @Repository, etc. -->
    <context:component-scan base-package="com.ligacentaurilor.devtests"/>

    <!-- Load the properties files -->
    <context:property-placeholder location="classpath:database/database-connection.properties"/>

    <!-- Import the database related beans and configurations -->
    <import resource="applicationContext-database.xml"/>

    <!-- Import the web related beans -->
    <import resource="applicationContext-web.xml"/>

    <!-- Import the security related beans -->
    <import resource="applicationContext-security.xml"/>

    <!-- Import the scheduling related beans -->
    <import resource="applicationContext-scheduling.xml"/>
</beans>