<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <global-method-security pre-post-annotations="enabled"/>

    <http pattern="/login.html" security="none"/>
    <http pattern="/register.html" security="none"/>
    <http pattern="/index.html" security="none"/>
    <http pattern="/favicon.ico" security="none"/>
    <http pattern="/css/**" security="none"/>
    <http pattern="/js/**" security="none"/>
    <http pattern="/view/**" security="none"/>
    <http pattern="/model/**" security="none"/>
    <http pattern="/controller/**" security="none"/>
    <http pattern="/webjars/**" security="none"/>

    <http auto-config="false" entry-point-ref="authenticationEntryPoint" create-session="ifRequired"
          use-expressions="true">
        <intercept-url pattern="/j_spring_security_check" access="permitAll"/>
        <intercept-url pattern="/devTests/main/register" access="permitAll"/>
        <intercept-url pattern="/**" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')"/>

        <custom-filter position="LAST" ref="authenticationFilter"/>
        <logout delete-cookies="JSESSIONID" invalidate-session="true" logout-success-url="/login.html"/>
    </http>

    <!-- entry point into the authentication system -->
    <authentication-manager alias="authenticationManager" erase-credentials="true">
        <authentication-provider user-service-ref="userService">
            <password-encoder ref="passwordEncoder"/>
        </authentication-provider>
    </authentication-manager>

    <beans:bean id="userService" class="org.springframework.security.core.userdetails.jdbc.JdbcDaoImpl">
        <beans:property name="dataSource" ref="devTestsDataSource"/>
        <beans:property name="usersByUsernameQuery" value="SELECT userName, password, isActive
                                                           FROM Users users
                                                           WHERE users.userName = ?"/>
        <beans:property name="authoritiesByUsernameQuery" value="SELECT users.userName, role.authority
                                                                 FROM Users users
                                                                 LEFT JOIN Role role ON users.id = role.userId
                                                                 WHERE users.userName = ?"/>
    </beans:bean>


    <beans:bean id="authenticationFilter" class="com.ligacentaurilor.devtests.service.security.PostAuthFilter">
        <beans:property name="authenticationManager" ref="authenticationManager"/>
        <beans:property name="authenticationSuccessHandler" ref="authenticationSuccessHandler"/>
    </beans:bean>

    <beans:bean id="authenticationSuccessHandler"
                class="com.ligacentaurilor.devtests.service.security.AuthenticationSuccessHandler"/>

    <beans:bean id="authenticationEntryPoint"
                class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
        <beans:property name="loginFormUrl" value="/login.html"/>
    </beans:bean>

    <beans:bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

</beans:beans>