<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- Enables transaction management for the methods annotated with @Transactional -->
    <tx:annotation-driven/>

    <!-- The data-source used to connect to the 'springIntro' database -->
    <bean id="devTestsDataSource" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close"
          p:driverClassName="${jdbc.driverClassName}" p:url="${devTests.jdbc.url}"
          p:username="${devTests.database.username}" p:password="${devTests.database.password}">
        <property name="maxActive" value="100"/>
        <property name="maxIdle" value="10"/>
        <property name="initialSize" value="30"/>
        <property name="maxWait" value="30000"/>
        <property name="removeAbandoned" value="true"/>
        <property name="removeAbandonedTimeout" value="60"/>
        <property name="maxAge" value="5000"/>
        <property name="defaultAutoCommit" value="false"/>
        <property name="logAbandoned" value="false"/>
        <property name="fairQueue" value="true"/>
        <property name="commitOnReturn" value="true"/>
        <property name="testOnBorrow" value="true"/>
        <property name="validationQuery" value="SELECT 1"/>
        <property name="logValidationErrors" value="true"/>
    </bean>

    <!-- Database initialization scripts. If any of the script fails, the initialization stops -->
    <jdbc:initialize-database data-source="devTestsDataSource" enabled="true">
        <jdbc:script location="${users.creation.script}"/>
    </jdbc:initialize-database>

    <bean id="hibernateProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean"
          p:location="classpath:database/hibernate.properties"/>
</beans>
