<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <!-- Logback configuration listener -->
    <listener>
        <listener-class>ch.qos.logback.ext.spring.web.LogbackConfigListener</listener-class>
    </listener>

    <!-- Logback config file location -->
    <context-param>
        <param-name>logbackConfigLocation</param-name>
        <param-value>/WEB-INF/logback.xml</param-value>
    </context-param>

    <!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!--
        Servlet that dispatches requests to registered handlers (@Controller implementations).
        Has its own application context, by default defined in "{servlet-name}-servlet.xml", i. e. "spring-intro-servlet.xml".

        - A web app can contain any number of such servlets. Note that this web app has a shared root application context,
        serving as parent of all DispatcherServlet contexts.
    -->
    <servlet>
        <servlet-name>devTests</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

        <!-- the 'contextConfigLocation' init parameter can be used to customize the location for the base configuration XML file
        for the Spring Application Context that is loaded by the DispatcherServlet, instead of relying on the default location of <servlet-name>-context.xml)
        -->
        <init-param>
            <param-name>contextClass</param-name>
            <param-value>org.springframework.web.context.support.GenericWebApplicationContext</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>devTests</servlet-name>
        <url-pattern>/devTests/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <!-- Spring Security -->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
